{% extends "layout/default.njk" %}

{% set 제작자 = "이희원" %}
{% set 이메일 = "userEmail@domain.com" %}
{% set 페이지아이디 = "sample" %}
{% set 페이지타이틀 = "서브페이지" %}

{% block pageCss %}
    <link rel="stylesheet" type="text/css" href="/resource/css/page/sub/{{ 페이지아이디 }}.css" />
{% endblock %}

{% block body %}

    <p id="a">&lt;&gt; 특수문자 변환</p>
    <p id="b"><button id="click-me">클릭</button></p>

    <img src="/resource/image/svg/icecream.svg" />
    <img src="/resource/image/hello.jpeg" />

    <div class="POSCMMTable" id="POSCMMTable1">

        <table class="POSCMMTable__table POSCMMTable__table--type01">
            <thead>
            <tr>
                <th scope="col">Column 1</th>
                <th scope="col">Column 2</th>
                <th scope="col">Column 3</th>
                <th scope="col">Column 4</th>
                <th scope="col">Column 5</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cont1</td>
                <td>Cont2</td>
                <td>Cont3</td>
                <td>Cont4</td>
                <td>Cont5</td>
            </tr>

            </tbody>
        </table>

    </div>


{% endblock %}

{% block pageScript %}
    <script type="text/javascript" src="/resource/js/page/sub/{{ 페이지아이디 }}.js"></script>
{% endblock %}
