{% import "import/headerVar.njk" as headerVar %}

<!-- @퍼블리셔: {{ 제작자 }} ({{ 이메일 }}){% if 사용자환경 %} {{ 사용자환경 }}{% endif %} -->
<!-- @버전: v{{ 버전 }} ({{ 현재시간 }}) -->
<!DOCTYPE html>
<html lang="ko">
<head>

    <title>페이지 제목{% if 페이지타이틀 %} - {{ 페이지타이틀 }}{% endif %}</title>

    {{ headerVar.meta() }}
    {{ headerVar.resource() }}

    {% block pageCss %}
    {% endblock %}

</head>
<body>
<div class="skipNavigation"></div>
<div class="wrapper" id="POSAPP">
    <header id="header" role="banner">
        <h1>header</h1>
        <nav>
            <a href="/html/intro">HTML</a> |
            <a href="/css/intro">CSS</a> |
            <a href="/javascript/intro">JavaScript</a>
        </nav>
    </header>

    <main id="body" role="main">

        {% block body %}
        body block
        {% endblock %}

    </main>

    <footer id="footer" role="contentinfo">
        <p>&copy; footer</p>
    </footer>
</div>

{% block pageScript %}
{% endblock %}

</body>
</html>